body{
	background-color: #2C393B !important;
	height: 100%;
}
.cuerpo_principal{
	float: left;
}
div#cont-usuarios{
	position: absolute;
	left: 0.5em;
	top: 1em;
	padding: 0.5em;
	width: 12em;
}
div#cont-btn-evento{
	position: absolute;
	left: 0.5em;
	top: 1em;
	padding: 0.5em;
}
div#cont-eventos{
	position: absolute;
	left: 0.5em;
	top: 7em;
	padding: 0.5em;
	width: 11em;
}
div.evento{
	height: 60px;
	min-height:60px;
	max-height:60px;
	width: 137px;
	min-width:137px;
	max-width:137px;
	word-wrap: break-word;
	border: 0.5px solid #000;
	background-color: #f4f4f4;
	z-index: 1;
}
div.evento div.barra_admin{
	width: 100%; 
	height: 1em; 
	background-color: rgba(0, 100, 0, 0.5);
	visibility: hidden;
}
div.evento div.texto, div.max_usuarios{
	padding: 0.1em;
}
div.evento div.max_usuarios{
	font-size: 10px;
}
div.barra_admin div.texto div.max_usuarios{
	z-index: 1;
}
table{
	position: absolute;
	left: 13em;
	top: 1em;
	background-color: #FFF;
	float: left;
}
td.horario{
	width: 60px;
	min-width:60px;
	max-width:60px;
	font-weight: bold;
}
td.dias{
	width:140px;
	min-width:140px;
	max-width:140px;
	background-color:#000;
	color: #ccc;
	font-weight: bold;
}
td.hora{
	text-align: right;
	height:40px;
	min-height:40px;
	max-height:40px;
	width:60px;
	min-width:60px;
	max-width:60px;
	color: #ccc;
}
td.clase{
	height:63px;
	min-height:63px;
	max-height:63px;
	width:130px;
	min-width:130px;
	max-width:130px;
}
div#cont-eventos,table,td{
	border: 1px solid #ccc;
}
label.error{
	color: red;
}
td.titulo{
	color: #ccc;
	width: 220px;
	min-width:220px;
	max-width:220px;
	font-size: 20px;
	font-weight:bold;
	background-color: #000;
	height: 60px;
}
td.datos{
	color: #ccc;
	font-size: 18px;
	background-color: rgba(12, 48, 73, 50);
}
td.id{
	width: 60px;
	min-width:60px;
	max-width:60px;
}